.headerNav {
  display: flex;
  flex-wrap: wrap;
}

.navWhite {
  color: #fff;
}

.linkContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 .5rem;
  padding: .5rem 0;
  min-width: 120px;
  text-decoration: none;
  text-align: center;
  font-size: .8rem;
  color: inherit;
}

.linkContainer:hover {
  text-decoration: underline;
}

@media screen and (max-width: 740px) {
  .linkContainer {
    min-width: 50px;
    margin: 0.5rem;
    border: none;
  }
}